# Feel free to add many hand-crafted files and a reasonable selection of fuzzer outputs,
# especially if they cause crashes of other weird behavior. However, it doesn't make
# much sense to spam thousands of non-crashing non-special files, so we ignore
# fuzzing-files in the repository:
????????????????????????????????????????
